.header {
    background-color: #EEEEEE;
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
    & .title {
        line-height: 1.2;
        font-size: 2em;
    }
}

.contents {
    font-size: 16px;
    & > h1 {
        font-size: 2.3em;
    }
    & > h2 {
        font-size: 1.7em;
    }
    & > h3 {
        // font-size: 1em;
        font-weight: 400;
    }
}