.header {
    background-color: #EEEEEE;
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
    & .title {
        line-height: 1.2;
        font-size: 2em;
    }
}

.contents {
    & > h1 {
        font-size: ;
    }
}