@use 'src/styles/mixin/mq' as *;
.header {
    background-color: #EEEEEE;
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
    @include mq() {
        font-size: 20px;
    }

    & .title {
        line-height: 1.2;
        font-size: 2em;
    }
}

.contents {
    font-size: 16px;
    @include mq() {
        font-size: 20px;
    }
    padding: 0 2em;
    &  h1 {
        font-size: 2em;
        margin-top: 20px;
    }
    &  h2 {
        font-size: 1.7em;
    }
    &  h3 {
        font-size: 1.4em;
    }

    &  u{
        text-decoration: underline;
        text-decoration-thickness: 0.1em;
        text-decoration-color: rgb(223, 151, 151);
    }
}

.link {
    font-size: 16px;
    @include mq() {
        font-size: 20px;
    }
}