
.btn {
    border-radius: 10%;
    border: none;
    display: inline-block;
    width: 70px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
}

.nav-li {
    font-size: 25px;
}


.btnSpan {
    display: block;
    background-color: black;
    width: 20px;
    height: 2px;
    margin: 0 auto 5px auto;

    &:nth-last-child() {
        margin-bottom: 0;
    }
}



