.aside {
    width: 150px;
    height: 100%;
    background-color: rgb(166, 166, 216);
    position: fixed;
    transform: translateX(-300px);
    transition: all 0.5s;
}
.nav {
    height: 100%;
}
.ul {
    margin-top: 100px;
}
.li {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 15px;
}



.btn {
    border-radius: 10%;
    border: none;
    position: fixed;
    top: 1%;
    left: 1%;
    z-index: 100;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
}

.btnSpan {
    display: block;
    background-color: black;
    opacity: 0.7;
    width: 30px;
    height: 2px;
    margin: 0 auto 4px auto;
    transition: 0.7s;

    &:nth-last-child(1) {
        margin-bottom: 0;        
    }
    
    
}



.open {

    & > span {
        @extend .btnSpan;
        &:first-child {
            transform: translateY(6px) rotate(150deg);
            margin: 0 atuo;
          }
        &:nth-child(2) {
          transform-origin: left;
          transform:scale(0) translateX(-30px);
          
            }
        &:nth-child(3) {
                transform: translateY(-6px) rotate(-150deg);
                margin-bottom: 0;
              }


    }
    &.aside {
        transform: translateX(0);
    }
    & > div {
        background-color: green;
    }
}

.mask {
    background-color: yellow;
}
