.title {
    margin-top: 30px;
    text-align: center;
    font-size: 1.7em;
    
}

.title_container {
    background-color: white;
    border-radius: 50% ;
    width: 90%;
    height: ;
    margin: 0 auto;
}

.sub_title {
    text-align: center;
    font-size: 0.7em;
    opacity: 0.7;
    margin: 0;
}