.title {
    
    text-align: center;
    font-size: 1.7em;
    
}

.title_container {
    background-color: white;
    border-radius: ï¼‘0% ;
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
}

.sub_title {
    text-align: center;
    font-size: 0.7em;
    opacity: 0.7;
    margin: 0;
}